

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, { font-family: 'Montserrat', sans-serif; }

h3 { color: #fff; text-transform: uppercase; font-size: 1em;}

.carousel-control {
	border: none;
	background: none;
	opacity: 1;
	font-size: 70px;
}

.jeeps {
	position: absolute;
	top: 37.8%;
	left: 4.3%;
	width: 91.3%;
}

body {
	background-color: #000;
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar .nav>li>a:hover {
	padding: 10px 15px 10px;
	margin-top: -4px;

}

.nav a:hover {
	background-color: #111;
	border-top: 4px solid #ffb302;
}

.nav .active a {
	background-color: #111;
	border-top: 4px solid #ffb302;
	margin-top: -4px;
}

.vehicles-menu {
	background-color: #000;
}

.vehicles-menu li a {
	color: #fff;
}

.vehicles-menu li a:hover {
	background: #ffb302;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
}

.tag {
	background-image: url(../img/sprite_nav.png);
	position: absolute;
	background-position: 368px -375px;
	width: 65px;
	height: 95px;
	right: 15%;
}

.promos {
	margin-bottom: 30px;
}

.infobox {
	background-color: #fff;
	text-align: center;
	padding: 80px 20px;
	color: #ccc;
}

.navbar-inner {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar .nav {
	top: 9px;
}

.navbar .brand {
	padding: 16px 20px 10px;
	margin-left: 130px;
	font-size: 35px;
	font-weight: bold;
	color: #fff;
}

.footer-items {
	list-style-type: none;

}

.footer-items a {
	color: #999;
	text-decoration: none;
	
}

.footer-items a:hover {
	color: #fff;
}

footer {
	border-top: 1px solid #444;
}

footer p {
	color: #555555;
}

.gradient-bg-foot {
   background-color: #222; 
   background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#111));
   background-image: -webkit-linear-gradient(top, #222, #111); 
   background-image:    -moz-linear-gradient(top, #222, #111);
   background-image:     -ms-linear-gradient(top, #222, #111);
   background-image:      -o-linear-gradient(top, #222, #111);
}

.gradient-bg {
   background-color: #292929; 
   background-image: url(images/fallback-gradient.png); 
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
   background-image: -webkit-linear-gradient(top, #333, #000); 
   background-image:    -moz-linear-gradient(top, #333, #000);
   background-image:     -ms-linear-gradient(top, #333, #000);
   background-image:      -o-linear-gradient(top, #333, #000);
}

/*=============================================================================================
	Wrangler/Vehicles Page
===============================================================================================*/

#vehicles-page {
	background:  #000 url(../img/wrangler/wrangler-main.jpg) no-repeat;
	background-position: center 60px;
	position: relative;
	height: 400px;

}

.wrangler-hero-unit {
	height: 480px;
}

.wrangler-hero-unit  h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	font-style: italic;
	letter-spacing: 2px;
	color: #fff;
	width: 80%;
	line-height: 1em;
	text-shadow: 2px 2px 5px #000;
}

.wrangler-info-box  h4 {
	color: #fff;
	text-transform: uppercase;
	font-style: italic;
	font-size: 1em;
	text-shadow: 2px 2px 5px #000;
}

.wrangler-info-box {
	position: absolute;
	top: 16%;
	left: 10%;
}

.interactive-box-wrangler {
	position: absolute;
	top: 44%;
	left: 10%;
	padding: 10px 20px;
	width: 19%;
	border-radius: 5px;
	background-color: rgba(0,0,0,.5);
}

.interactive-box-wrangler  p {
	color: #fff;
	line-height: 1.8em;
}

.interactive-box-wrangler > ul {
	margin-left: 0;
}

.interactive-box-wrangler li > a {
	text-decoration: none;
	text-transform: uppercase;
	line-height: .5em;
	color: #ffb302;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px #ffb302;
}

.wrangler-button {
	color: #333;
	background: #ffb302;
}

.main-content {
	position: relative;
	background-color: #fff;
	width: 75.3%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main-content {
	line-height: .5em;
}

.pricing-unit {
	margin-top: 5%;
	padding-left: 5%;
	text-transform: uppercase;
}

.stats-jargon {
	font-size: .8em;
	color: #acacac;
	line-height: .2em;
	margin-bottom: 30%;
}

.promo-header-image {
	position: absolute;
	right: 5%;
	top: 4%;
}

.awards-image {
	position: relative;
	width: 100%;
	height: auto;
}

.trophy-badge {
	position: absolute;
	top: 200px;
	left: 216px;
}

.award-text {
	position: absolute;
	text-align: center;
	left: 208px;
	top: 210px;
	line-height: 1.2em;
}

.award-text h4 {
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: lighter;
	font-style: italic;
}

.capable-unit {
	position: relative;
	height: 100px;
}

.capable-unit h2 {
	font-size: 3.2em;
	word-spacing: .2em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	position: absolute;
	left: 215px;
	top: 7px;
}

.wrangler-features-module {
	position: absolute;
	top: 13px;
	left: 33px;
	z-index: 5;
}

.wrangler-features-module h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 2em;
}

.wrangler-features-module ul li {
	font-size: .75em;
	font-weight: bold;
	line-height: .5em;
	line-height: 1.5em;
}

.color-picker-unit {
	position: relative;
	width: 100%;
	height: 450px;
	height: auto;
	cursor: pointer;
}

.wrangler-carousel-inner {
	width: 100%;
	height: 450px;
}

.wrangler-pic-color {
	width: 100%;
	height: 450px;
}

.carousel-indicators {
	visibility: hidden;
}

.colorswatch {
	background-image: url(../img/wrangler/colorizer/sprite_colorizer.png);
	position: absolute;
	width: 40px;
	height: 40px;
}

.black-paint {
	background-position: 393px -380px;
	top: 391px;
	left: 41px;
}

.green-paint {
	background-position: 746px -419px;
	top: 389px;
	left: 83px;
}

.white-paint {
	background-position: 1059px -422px;
	top: 391px;
	left: 127px;
}

.silver-paint {
	background-position: 1411px -422px;
	top: 391px;
	left: 171px;
}

.navy-paint {
	background-position: 1764px -422px;
	top: 391px;
	left: 214px;
}

.tan-paint {
	background-position: 2118px -421px;
	top: 392px;
	left: 257px;
}

.red-paint {
	background-position: 2470px -421px;
	top: 392px;
	left: 300px;
}

.brown-paint {
	background-position: 2822px -421px;
	top: 392px;
	left: 343px;
}
























